%h4= flash[:notice] if flash[:notice] 
%h3 My Fridge
-if @groceries != []
  %table.groceries_table
    %tr.groceries_header
      %th Name
      %th Quantity
    -@groceries.each do |g|
      %tr.grocery_row
        %td.name= g.food.name
        %td.quantity= g.format_quantity
-else
  %p Add some ingredients to your fridge!
=link_to "Update fridge!", edit_fridge_path