=render 'login'
#main
  %h4= flash[:notice] if flash[:notice]
  %h2 Edit Fridge
  -if @user
    =render 'editloggedin'
  -else
    =render 'editnotlogged'
  %br
  = link_to "Back to Fridge", show_fridge_path()
  %br
  = link_to "Back to recipes!", recipes_path
