body {
  font-family: Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  font-style: normal;
  background-color: #99CCFF;
  color: #ffe28a; 
}

body #title{
  text-align: center;
  font-size: 40pt;
  font-style: italic;
}

body #main {
  background-color: #B0B7BF;
  color: #ffe28a;
  width: 80%;
  left: 10%;
  position: relative;
  padding: 10px;
  border: 1px solid #666547;
	color: black;
}

body h1 {
  font-family: Helvetica, sans-serif;
  font-size: 20pt;
  font-weight: 20;
  font-style: normal;
  text-align: center;
	color: black;
}

.login {
  text-align: right;
  margin-right: 2cm;
}

a:hover {
  color: red;
}

#starry {
  color: #C5B358;
  font-size: 25pt;
  text-align: center;
  
}

.starry_show{
  color: #C5B358;
}