=render 'login'
#main
  %h4= flash[:notice] if flash[:notice]
  %h2 Create a New Review
	
  = form_for [@recipe, @review], :method => :post do |f|
    %table
      %tr
        %th Comments
        %th Stars
      %tr
        %td
          =f.text_field :comments
        %td
          <select name = "review[stars]" id = "review_stars">
          -(1..5).each do |x|
            %option= x
          </select>
    %br
    =f.submit 'Post Review'
    %br
    =link_to "Back to Recipe", recipes_path()